<div class="quick-contact-container">
    <div class="quick-contact">
        <div class="quick-contact-icon">
            <img src="../../assets/mailIcon.png" alt="Mail Icon">
        </div>
        <div class="quick-contact-data">
            petarvico3@outlook.com
        </div>
    </div>
    <div class="quick-contact">
        <div class="quick-contact-icon">
            <img src="../../assets/phoneIcon.png" alt="Phone Icon">
        </div>
        <div class="quick-contact-data">
            647-389-0467
        </div>
    </div>
</div>