<app-profile-picture></app-profile-picture>
<app-social-links></app-social-links>
<app-about-me></app-about-me>

<div class="contact-download-button">
  <a role="button" href="assets/user.vcf">
      Create Contact
  </a>
</div>

<div class="downloads-container">
  <a class="download-item" href="assets/petar-resume.pdf" attribute-list download target="_blank" rel="noopener noreferrer">
    <div>Download <strong>Resume</strong></div>
  </a>
  <a class="download-item" href="assets/petar-cover-letter.pdf" attribute-list download target="_blank" rel="noopener noreferrer">
    <div>Download <strong>Cover Letter</strong></div>
  </a>
</div>